<form [formGroup]="addStagiaireForm" (ngSubmit)="onSubmit()">
    <!-- form fields go here -->
    <mat-form-field>
        <input matInput placeholder="Nom du stagiaire..." type="text" formControlName="lastname">
        <mat-error *ngIf="addStagiaireForm.controls['lastname'].errors">
            Le nom du stagiaire est obligatoire !
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Prénom du stagiaire..." type="text" formControlName="firstname">
        <mat-error *ngIf="addStagiaireForm.controls['firstname'].errors">
            Le prénom du stagiaire est obligatoire !
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="birthdate">
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>

        <mat-error *ngIf="addStagiaireForm.controls['birthdate'].errors 
                    && addStagiaireForm.controls['birthdate'].touched">
            <span *ngIf="addStagiaireForm.controls['birthdate'].hasError('required')">
                La date de naissance est obligatoire.
            </span> 
            <span *ngIf="addStagiaireForm.controls['birthdate'].hasError('dateLessThan')">
                Le stagiaire n'a pas 18 ans...
            </span>         
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Email..." type="text" formControlName="email">
        <mat-error *ngIf="addStagiaireForm.controls['email'].errors">
            L'adresse email est obligatoire ou n'est pas de la bonne forme
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Téléphone..." type="text" formControlName="phoneNumber">
    </mat-form-field>

    <mat-radio-group formControlName="gender">
        <mat-radio-button [value]="'M'">Masculin</mat-radio-button>
        <mat-radio-button [value]="'F'">Féminin</mat-radio-button>
    </mat-radio-group>

    <button mat-raised-button color="primary" type="submit" [disabled]="addStagiaireForm.invalid">
        Add
    </button>

    {{ addStagiaireForm.controls['birthdate'].errors | json }}
</form>
