<h1>Hello {{ title }} !</h1>

<div [ngSwitch]="showLi">
  <div *ngSwitchCase="'A'">Tous les stagiaires</div>
  <div *ngSwitchCase="'F'">Féminin</div>
  <div *ngSwitchCase="'M'">Masculin</div>
</div>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Gender</th>
    </tr>
  </thead>

  <tbody>
    <ng-container *ngFor="let stagiaire of stagiaires">
      <tr *ngIf="(showLi === 'A') ? true : stagiaire.gender === showLi">
        <td>
          {{ stagiaire.firstName }}
        </td>
        <td>
          {{ stagiaire.gender }}
        </td>
      </tr>
    </ng-container>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="2">
        {{ getDisplayRowsNumber() }}/{{ stagiaires.length }}
      </td>
    </tr>
  </tfoot>
</table>

<button type="button" (click)="showLi = 'A'" [ngClass]="{'is-selected': showLi === 'A'}">
  Tous
</button>

<button type="button" (click)="showLi='F'" [ngClass]="{'is-selected': showLi === 'F'}">
  F
</button>

<button type="button" (click)="showLi='M'" [ngClass]="{'is-selected': showLi === 'M'}">
  M
</button>

<p>showLi vaut : {{ showLi }}</p>